@import "../settings/colors.scss";


.btn-dark {
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.3rem;
  background-color: $dark-blue;
  color: $bg-white;
  border: 3px solid $dark-blue;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($dark-blue, 10%);
  }
}


.projects__more {
  margin-top: 5rem;
  margin-bottom: 7rem;
  text-align: center;
}


.presentation {
  text-align: center;
  padding: 4rem 1rem 2rem;

  &__name {
    font-size: 2.5rem;
    font-weight: 800;
    color: $dark-blue;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.25rem;
    color: $dark-blue;
    margin-bottom: 2rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__button {
    display: inline-block;
    padding: 0.75rem 4rem;
    border-radius: .3rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5rem;

    &:nth-child(2) {
      background-color: $dark-blue;
      color: $bg-white;
      border: $dark-blue 3px solid;

      &:hover {
        background-color: darken($dark-blue, 10%);
      }
    }

    &:nth-child(3) {
      background-color: $bg-white;
      color: $dark-blue;
      border: $dark-blue 3px solid;

      &:hover {
        background-color: darken($bg-white, 5%);
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__name {
      font-size: 4rem;
    }

    &__title {
      font-size: 1.75rem;
    }

    &__nav {
      flex-direction: row;
      justify-content: center;
    }
  }
}


