.icon-carousel {
  display: flex;
  margin-bottom: 3rem;
  gap: 1rem;
}

.icon-carousel > * {
  fill: #14222D;
}

.icon svg {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.carousel-container {
  margin-top: 1rem;
}
