@import "../settings/colors.scss";

.project__filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.filter-button {
  padding: 0.5rem 1rem;
  background-color: $bg-white;
  color: $dark-blue;
  border-radius: 0.75rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  border: 0.2rem solid $dark-blue;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: lighten($dark-blue, 10%);
    color: $light-blue;
  }

  &.active {
    background-color: $dark-blue;
    color: $light-blue;
  }

  @media (min-width: 768px) {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-width: 0.25rem;
  }
}
